<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title><%= extractTitle(htmlBody) %></title>
  <link rel="stylesheet" href="<%= baseUrl -%>.well-known/css/styles/main.css?v=7" type="text/css">
  <script type="text/javascript" src="<%= baseUrl -%>.well-known/css/scripts/util.js?v=7"></script>
</head>
<body>
  <header>
    <a href="<%= baseUrl %>"><img src="<%= baseUrl -%>.well-known/css/images/solid.svg" alt="[Solid logo]" /></a>
    <h1>Solid Databox</h1>
  </header>
  <main>
    <%- htmlBody %>
  </main>
  <footer>
    <p>
      © 2000–2026 <a href="https://webcivics.org/">WebCivics</a> (Solid Databox)<br>
      © 2019–2025 <a href="https://inrupt.com/">Inrupt Inc.</a>, <a href="https://www.imec-int.com/">imec</a>, & CSS Contributors<br>
      <span style="font-size: 0.9em; opacity: 0.8; display: inline-block; margin-top: 5px;">
        Built upon the foundations of W3, W3C, RWW, and WebID.<br>
        Dedicated to the countless unpaid contributors who built this ecosystem, including those who are no longer with us.
      </span>
    </p>
  </footer>
</body>
</html>

<%
function extractTitle(body) {
  const match = /^<h1[^>]*>([^<]*)<\/h1>/u.exec(body);
  return match ? match[1] : 'Solid';
}
%>
